[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/Oxion-Protocol-v1-core"]
	path = lib/Oxion-Protocol-v1-core
	url = https://github.com/Oxion-Protocol-Tech/Oxion-Protocol-v1-core
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v4.9